force-app/main/default/flows/ComplexAccConOppo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Inserting Related contact and opportunity and fetching Id of them.</description>
        <name>createConOppo</name>
        <label>createConOppo</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>ComplexCall</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Ids</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ComplexCall</nameSegment>
        <outputParameters>
            <assignToReference>ConOppIds</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>changeBirthDate</name>
        <label>changeBirthDate</label>
        <locationX>264</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>Loop_4.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DummyDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatedContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>saving contact records</description>
        <name>contaactRecord</name>
        <label>contaactRecord</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>contactRecordd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_con_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Oppo_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>opportunityRecord</name>
        <label>opportunityRecord</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecordd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Oppo_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>smallerDate</name>
        <label>smallerDate</label>
        <locationX>264</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>DummyDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StoreDates</name>
        <label>StoreDates</label>
        <locationX>264</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>StoreCloseDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_2.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StoreUpdatedStage</name>
        <label>StoreUpdatedStage</label>
        <locationX>264</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>StoreUpdatedStageX</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StoreDates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdatedContact</name>
        <label>UpdatedContact</label>
        <locationX>264</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>UpdatedContactX</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateStage</name>
        <label>UpdateStage</label>
        <locationX>264</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Loop_2.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StoreUpdatedStage</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cold</name>
        <choiceText>Cold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hot</name>
        <choiceText>Hot</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hot</stringValue>
        </value>
    </choices>
    <choices>
        <name>Warm</name>
        <choiceText>Warm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Warm</stringValue>
        </value>
    </choices>
    <decisions>
        <description>checking closedDate is before 01/05/2024 or not</description>
        <name>datecheck</name>
        <label>datecheck</label>
        <locationX>396</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Loop_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>before1April</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_2.CloseDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>2024-04-01</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_2.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStage</targetReference>
            </connector>
            <label>before1April</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_2</name>
        <label>Decision 2</label>
        <locationX>396</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Loop3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop3</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>DummyDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>smallerDate</targetReference>
            </connector>
            <label>Outcome 1 of Decision 2</label>
        </rules>
    </decisions>
    <description>Create a Screen Flow To create an account, and then create two related contacts and two related opportunities, 
get those four ids from Apex action as a input.
 
Now If the closed date of created opportunities are before 05/04/2024 then change the stage name to closed lost and name of opportunity to AccountName=&quot;oppo&quot;
 
Also change BirthDate of cretaed contacts to the oldest date of related opportunities</description>
    <environments>Default</environments>
    <interviewLabel>ComplexAccConOppo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ComplexAccConOppo</label>
    <loops>
        <description>Loop on Ids received from Apex action</description>
        <name>Loop1</name>
        <label>Loop1</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>ConOppIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_con_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop3</name>
        <label>Loop3</label>
        <locationX>176</locationX>
        <locationY>1898</locationY>
        <collectionReference>StoreCloseDate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_4</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_2</name>
        <label>Loop 2</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <collectionReference>opportunityRecordd</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>datecheck</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateStageIntoOrg</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_4</name>
        <label>Loop 4</label>
        <locationX>176</locationX>
        <locationY>2390</locationY>
        <collectionReference>contactRecordd</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>changeBirthDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updatingContactOrg</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>creating account from the data got from screen</description>
        <name>CreateAccount</name>
        <label>CreateAccount</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>AccountId</assignRecordIdToReference>
        <connector>
            <targetReference>createConOppo</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>RatingX</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Get_con_Record</name>
        <label>Get con Record</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>contaactRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get records  of Opportunity</description>
        <name>Get_Oppo_Record</name>
        <label>Get Oppo Record</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>opportunityRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateStageIntoOrg</name>
        <label>updateStageIntoOrg</label>
        <locationX>176</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Loop3</targetReference>
        </connector>
        <inputReference>StoreUpdatedStageX</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatingContactOrg</name>
        <label>updatingContactOrg</label>
        <locationX>176</locationX>
        <locationY>2798</locationY>
        <inputReference>UpdatedContactX</inputReference>
    </recordUpdates>
    <screens>
        <description>Create a Screen Flow To create an account, and then create two related contacts and two related opportunities, 
get those four ids from Apex action as a input.
 
Now If the closed date of created opportunities are before 05/04/2024 then change the stage name to closed lost and name of opportunity to AccountName=&quot;oppo&quot;
 
Also change BirthDate of cretaed contacts to the oldest date of related opportunities</description>
        <name>Complex</name>
        <label>Complex</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateAccount</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account_Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RatingX</name>
            <choiceReferences>Hot</choiceReferences>
            <choiceReferences>Warm</choiceReferences>
            <choiceReferences>Cold</choiceReferences>
            <dataType>String</dataType>
            <fieldText>RatingX</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Complex</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Storing Id of creatted Account</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Storing Ids of Opportunity and contact receiving from Apex Action</description>
        <name>ConOppIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactRecordd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>DummyDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2024-05-10</dateValue>
        </value>
    </variables>
    <variables>
        <name>dummyOppo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityRecordd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>StoreCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreUpdatedStageX</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UpdatedContactX</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
